@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Commissioner";
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .scrollbarVertical::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbarVertical::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 6px;
    margin-block: 3rem;
  }

  .scrollbarVertical::-webkit-scrollbar-thumb {
    background: #bcc3ff;
    border-radius: 6px;
  }

  .scrollbarHorizontal::-webkit-scrollbar {
    height: 8px;
    overflow: hidden;
  }

  .scrollbarHorizontal::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 6px;
  }

  .scrollbarHorizontal::-webkit-scrollbar-thumb {
    background: #bcc3ff;
    border-radius: 6px;
  }

  .scrollbarHorizontal::-webkit-scrollbar-track-piece:start {
    margin-left: 70vh;
    background: #eaecff;
    border-radius: 6px;
  }

  .scrollbarHorizontal::-webkit-scrollbar-track-piece:end {
    margin-right: 70vh;
    background: #eaecff;
    border-radius: 6px;
  }
}
