@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Commissioner";
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .scrollbarVertical::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbarVertical::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 6px;
    margin-block: 3rem;
  }

  .scrollbarVertical::-webkit-scrollbar-thumb {
    background: #bcc3ff;
    border-radius: 6px;
  }

  .scrollbarHorizontal::-webkit-scrollbar {
    height: 8px;
    overflow: hidden;
  }

  .scrollbarHorizontal::-webkit-scrollbar-track {
    background: #eaecff;
    border-radius: 6px;
    margin-block: 40rem;
    writing-mode: vertical-rl;
  }

  .scrollbarHorizontal::-webkit-scrollbar-thumb {
    background: #bcc3ff;
    border-radius: 6px;
  }

  .scrollbarHorizontalLaptop::-webkit-scrollbar {
    height: 8px;
    border-radius: 1rem;
  }

  .scrollbarHorizontalLaptop::-webkit-scrollbar-track {
    background: #eaecff;
    margin-block: 2rem;
    writing-mode: vertical-rl;
  }

  .scrollbarHorizontalLaptop::-webkit-scrollbar-thumb {
    background: #bcc3ff;
    border-radius: 1rem;
  }

  .scrollbarHorizontalTablet::-webkit-scrollbar {
    height: 8px;
    border-radius: 1rem;
  }

  .scrollbarHorizontalTablet::-webkit-scrollbar-track {
    background: #eaecff;
    margin-block: 2rem;
    writing-mode: vertical-rl;
  }

  .scrollbarHorizontalTablet::-webkit-scrollbar-thumb {
    background: #bcc3ff;
    border-radius: 1rem;
  }

  .scrollbarHorizontalTabletWhite::-webkit-scrollbar {
    height: 8px;
    border-radius: 1rem;
  }

  .scrollbarHorizontalTabletWhite::-webkit-scrollbar-track {
    background: #ffffff;
    margin-block: 4rem;
    writing-mode: vertical-rl;
  }

  .scrollbarHorizontalTabletWhite::-webkit-scrollbar-thumb {
    background: #bcc3ff;
    border-radius: 1rem;
  }

  .scrollbarHorizontalMobile::-webkit-scrollbar {
    height: 8px;
    border-radius: 1rem;
  }

  .scrollbarHorizontalMobile::-webkit-scrollbar-track {
    background: #eaecff;
    margin-block: 1rem;
    writing-mode: vertical-rl;
  }

  .scrollbarHorizontalMobile::-webkit-scrollbar-thumb {
    background: #bcc3ff;
    border-radius: 1rem;
  }
}

.scrollbarHorizontalMobileWhite::-webkit-scrollbar {
  height: 8px;
  border-radius: 1rem;
}

.scrollbarHorizontalMobileWhite::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 1rem;
}

.scrollbarHorizontalMobileWhite::-webkit-scrollbar-thumb {
  background: #bcc3ff;
  border-radius: 1rem;
}
